nav>ul{
    text-align: center;
    justify-content:space-around;
    display:flex;
    width: 40%;
    text-align: right;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #268A8C;
    
    
    }
li{
    list-style-type: none;
}
nav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    font-size: 20px;
    display:inline-block;
}

a{
    text-decoration: none;
    
}

a:hover{
    background-color:blue;
    font-weight: bold;
}
h1{
    text-align: center;
}

.img {
    height: 500px;
    display: block;
    margin: 0 auto;
}
#home{
    background: #50D5D9;
    padding: 2em ;
    color:black;
    text-align: center;
    margin: 0;
    border: 0;
    font-size: 100%;
}
#project{
    background: #0B3E40;
    color: #fff;
    text-align: center;
    padding-top: 7.5em;
    padding-bottom: 7.5em;
}